
.dialogs_bg{
    display: flex;
}

.dialog{
 width: 500px;
 border-right: solid 1px black;
 position: relative;
}

.pushNewMessage{
    position: fixed; 
    bottom: 100px;  
    width: 480px; 
    flex-direction: column;
}

.text_area{
    width: 480px;
    height: 35px;    
}

.dialog_items{
    display: flex;
    flex-direction: column;
}