* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box-serif;
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

.content_table{
  box-shadow: -15px 10px 7px #c4c4c6;
  width: 900px;
  border-radius: 5px;
}